{% extends "base.html" %}

{% block body %}
    <div class="row-fluid">
  <form  method="post" >

 <legend>登录</legend>

  <div class="control-group">
    <label class="control-label" for="inputEmail">用户名</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Username" name="username">
      
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">密码</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      
      <button type="submit" class="btn btn-success">登录</button>
     <a href="/register" class="btn btn-info" >注册</a>
    
    
    </div>
  </div>
 
</form>
</div>
{% end %}