{% extends "base.html" %}

{% block body %}
    <div class="row-fluid">
    <table data-filter="#filter" class="footable">
      <thead>
        <tr>
        <th data-class="expand" data-sort-initial="true">
           名次
          </th>
          <th data-class="expand" data-sort-initial="true">
           标题
          </th>
          <th>
             作者
          </th>
          <th data-hide="phone,tablet">
           简介
          </th>
          <th data-hide="phone,tablet">
            地域
          </th>
          <th data-hide="phone">
             阅读人数
          </th>
        </tr>
      </thead>
      <tbody>
      {%for  i,entry  in  enumerate(entries) %}
        <tr>
        <td>{{i}}</td>
         <td><a target="_blank" href="/entry?id={{entry.id}}">Boudreaux</a></td>
        <td>{{entry.username}}</td>
        <td>{{entry.desc}}</td>
        <td>{{entry.area}}</td>
        <td>{{entry.count}}</td>
        </tr>
      {%end%}
      </tbody>
    </table>
</div>
{% end %}