{% extends "base.html" %}

{% block body %}
    <div class="row-fluid">
  <form class="form-search" method="post" action="/search">
  <div class="input-append">
    <input type="text" class="input-xlarge search-query" name="search">
    <button type="submit" class="btn">Search</button>
  </div>

</form>

 <div class="row-fluid">
 <ul>
 {%if  matches%}
     
     {%for m in matches%}
        <li>{{"%i: %i%% docid=%i [%s]" % (m.rank, m.percent, m.docid, m.document.get_data())}}</li>
 	 {%end%}
 {%else%}
      <li>No results</li>
{%end%}
 
 </ul>
 
 </div>
</div>
{% end %}